<!DOCTYPE html>
<html lang="en">
<head>   
    <link rel="icon" href="public/assets/logo.png">
    <title>Project Details</title>
    <link rel="stylesheet" href="public/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/9b50d6e630.js"></script>
</head>

<body>    
    <!-- Nav Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-lg">
          <a class="navbar-brand me-5" href="/home">
            <img src="public/assets/logo.png" alt="logo" />
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a href="/blog" class="nav-link list-active">Add Project</a>
              </li>
            </ul>
          </div>
          <div class="d-flex contact-me">
            <a href="/contact-me"> Contact Me </a>
          </div>
        </div>
      </nav>
    <!-- nav end -->
    
    <!-- star -->
    <h1 style="text-align: center; margin-bottom: 10px; margin-top: 10px;">Dumbways Web App</h1>
    <div class="detail-container">
        <div class="detail">
            <div class="left-detail">
                <img src="public/assets/my-pic.jpg" alt="">
            </div>
            <div class="right-detail">
                <div class="right-container">
                    <div class="detail-duration">
                        <label for="detail-dur-label">Duration</label>
                        <div class="detail-dur-container">
                            <div class="date-detail">
                                <a href=""><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                <p>12 Januari 2022 - 11 Februari 2022</p>
                            </div>
                            <div class="time-detail">
                                <a href=""><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                                <p>1 Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="detail-technologies">
                        <label for="detail-tech-label">Technologies</label>
                        <div class="detail-tech-container">
                            <div class="left-tech">
                                <div class="i-nodejs">
                                    <img src="public/assets/node-js.png" alt="">
                                    <p>Node JS</p>
                                </div>
                                <div class="i-reactjs">
                                    <img src="public/assets/react-js.png" alt="">
                                    <p>React JS</p>
                                </div>
                            </div>
                            <div class="right-tech">
                                <div class="i-nextjs">
                                    <img src="public/assets/java-script.png" alt="">
                                    <p>Next JS</p>
                                </div>
                                <div class="i-typescript">
                                    <img src="public/assets/TypeScript.png" alt="">
                                    <p>TypeScript</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="isi-konten">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolore repudiandae fugit, consequuntur dolorem nisi voluptates quia nostrum illo obcaecati nemo architecto odit fugiat, accusamus corporis ad mollitia dolor aliquam?
                        Eligendi, voluptate dolor dicta optio, vel eum fugiat mollitia minus qui asperiores inventore facilis incidunt ipsam aliquam porro quibusdam? Eaque eum exercitationem enim deserunt architecto quos error eveniet explicabo sit?
                        Quis sapiente qui aperiam vero non sed rerum ex alias voluptatum, cumque minus repellendus voluptatibus architecto facilis. Odit dolorem deserunt est repudiandae asperiores atque aut? Earum deleniti libero dolore asperiores.
                        Iusto corporis sit minima optio exercitationem id nihil nobis perferendis ad maiores, ipsa esse blanditiis laboriosam neque! Totam inventore, laboriosam unde, dolor, ab a suscipit ex reprehenderit corporis magni tempora?
                        Dolore ex temporibus quas iusto? Odio veniam sunt, distinctio voluptates alias earum fugit voluptatum labore dolorum ipsa quos facilis. Iusto porro maxime eos consequatur ex sunt sint? Explicabo, odit distinctio.
                        Odio placeat architecto voluptatum alias praesentium corrupti, similique tempora suscipit odit debitis voluptates nisi, incidunt sed commodi recusandae ullam culpa quis saepe cumque facere officia necessitatibus expedita minima? Sed, quod.
                        Temporibus ipsa accusamus veniam molestias beatae, mollitia iusto provident quas consectetur odit corporis sequi eius quod voluptatibus tenetur dicta non fugit. Modi adipisci deleniti nulla assumenda, quos nemo accusantium neque.
                        Perferendis sed repellendus provident sit, debitis ad. Nobis sequi minus assumenda officia aperiam enim laudantium nam ducimus, recusandae reiciendis illo, incidunt consectetur cupiditate numquam architecto tenetur non harum mollitia perferendis!
                        Eum, ullam! Ipsam est ut illo sed dolorum rem, quas distinctio esse quia debitis suscipit iure! Quas quibusdam dolorem iure animi, et totam ipsum consequuntur a ex impedit aperiam. Adipisci.
                        Rem autem hic distinctio quam in expedita maxime alias, vitae sint! Expedita animi cum dolor nisi fugiat ullam error minima accusantium. Aspernatur adipisci hic molestiae cupiditate in praesentium ducimus commodi?
                        Quia architecto eos quasi, excepturi quos laborum voluptate rem corporis aspernatur, tempora hic officia impedit ad dicta illum nihil vero beatae assumenda id placeat dolorem? Voluptas tenetur dicta esse quia?
                        Accusantium beatae hic mollitia nesciunt dolorum ex reiciendis, sed nostrum qui aut sapiente minima sequi tempora nulla earum quasi accusamus quia. Rem, hic deserunt? Odit dolore mollitia doloribus asperiores aperiam.
                        Magni, rerum? Hic corporis ab omnis veritatis neque voluptas sed, reprehenderit, atque, at quo saepe! Amet sed ex, reiciendis dolore porro alias vero nihil repudiandae nulla. Delectus exercitationem voluptate rerum?
                        Mollitia ex consectetur non quidem debitis nemo aliquid cum eveniet aliquam exercitationem voluptate, saepe soluta unde, nulla sed vel quisquam reprehenderit nihil officiis aspernatur accusamus autem modi dolorum. Quaerat, facere?
                        Labore ratione iure ex tempora placeat incidunt! Sapiente esse perspiciatis error dolor eum amet, sunt sint obcaecati quae nam doloribus laudantium. Repudiandae magni perspiciatis impedit ullam eligendi repellat labore aliquid!
                        Maxime consectetur, eveniet culpa laudantium praesentium voluptates incidunt soluta, ipsum, dignissimos excepturi ut corrupti molestiae atque. Reprehenderit, quibusdam, rerum harum architecto ipsam porro a laboriosam accusamus odit saepe illo maxime!
                        Praesentium cum reprehenderit eius veritatis, quaerat temporibus facere error sit a, nulla, dolore magni repellendus omnis quae corporis adipisci ad illo? Reiciendis quisquam porro itaque, quaerat tempore libero error minus!
                        Nobis explicabo dolores enim tenetur provident dolorem, voluptatem sunt illum qui. Velit ducimus id nesciunt adipisci dolor accusantium. Aperiam cumque ducimus delectus sed possimus voluptas earum mollitia obcaecati dicta itaque.
                        Officia, accusamus. Magni sint, sed est autem nesciunt dolore molestias harum sit adipisci debitis dolor veritatis nihil commodi beatae quidem? Reiciendis similique magni officiis facere rem dolores provident, quibusdam numquam.
                        Itaque magni dolorem corrupti aperiam et sequi rem quis. Nihil, culpa hic! Perspiciatis voluptatem expedita quos architecto debitis voluptatibus, illum deserunt aut dicta atque. Expedita suscipit beatae voluptates aperiam libero.
                    </p>
                </div>
            </body>
</html>